OPENWEATHER_API_KEY=your_openweather_api_key

CITIES=Madrid,Barcelona,Valencia,Malaga,Zaragoza,Murcia,Palma,Bilbao,Alicante

GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/config/credenciales.json

AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow

AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=False

AIRFLOW__WEBSERVER__SECRET_KEY=change_this_secret_key